.about-contain{
    
    .abouttitle{
        display: flex;
        justify-content: center;
    }
 .aboutcontent{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-areas: 
     "aboutlist about1"
     "about2 aboutdescrip";

     
     }

 


 .aboutlist{
     grid-area: aboutlist;

 }

.about1{
    grid-area: about1;
}

.about2{
    grid-area: about2;
}
 
.aboutdescrip{
    grid-area: aboutdescrip;
}

@include md{
    img{
        width: 289px;
        height: 280px;
    }
}
@include lg{
    img{
        width:460px;
        height: 433px;
        }
}
}
