/* =============
    Product Design
============= */


.product-design{
        display: grid;
        grid-template-columns: 100%;
    
        @include medium{
            grid-template-columns: 50% 50%;
        }
    
        @include lg{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "our-story our-story shop"
            "flora . shop"
            "flora cafe cafe";
        }
    
        .our-story-container{
            @include lg{
            grid-area: our-story;
        }
        }
    
        .shop-container{
            @include lg{
                grid-area: shop-story;
            }
            }
    
        .flora-container{
            @include lg{
                grid-area: flora-story;
            }
            }
    
        .cafe-container{
            @include lg{
                grid-area: cafe-story;
            }
            }
        }
    

    img{
        width:100%;
    }
