/* =============
    Footer
============= */
footer{
    background-color: $darkbeige;
    display: grid;

    img{
        width: 45px;
    }
       .ftcontent{
        display: grid;
        grid-template-columns: 20% 30% auto 20%;
        grid-template-areas: 
        "phone mail . social";
        }
        .phone{
            grid-area: phone;
        }
        .mail{
            grid-area: mail;
        }
        .social{
            grid-area: social;
            text-align: right;
            padding-top: 25px;
        }
}

