/* =============
    Footer
============= */
footer {
  background-color: #D1C9C7;
  display: grid;
}
footer img {
  width: 45px;
}
footer .ftcontent {
  display: grid;
  grid-template-columns: 20% 30% auto 20%;
  grid-template-areas: "phone mail . social";
}
footer .phone {
  grid-area: phone;
}
footer .mail {
  grid-area: mail;
}
footer .social {
  grid-area: social;
  text-align: right;
  padding-top: 25px;
}

/* .vault{
        grid-area: 2022;
    }

    .all{
        grid-area: all;
    }

    .priv{
        grid-area: priv;
    }

    .ftcontent{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: right;

    }
*/
/*.phone, .comp, .rights{
    justify-content: left;
}

.social{
    img{
        padding-left: 5px;
    }
    display: 100%;
    margin-left: 89%;
    margin-top: -115px;
    padding: 5px;
}

.priv{
    display: 100%;
    margin-left: 91%;
    margin-top: -20px;
    padding: 10px;
}

.rights{

    margin-left: 200px;

    margin-top: -45px;
}
    /*.mail{
      // display: flex;
   // justify-content: right ;
    grid-area: mail;
    }

    .priv{
        //display: flex;
      // justify-content: right ;
        grid-area: priv;
    }

    .rights{
      // display: flex;
    //justify-content: right ;
    grid-area: rights;
    }

    .phone{
        grid-area: phone;
    }

    .social{
        grid-area: social;
    }

    .comp{
        grid-area: comp;
    } */
